.top-nav {
    display: flex;
    justify-content: space-evenly;
    padding: var(--spacing-sm);
    height: 6rem;
    gap: var(--spacing-md);
    align-items: center;
    border-bottom: 1px solid var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--color-secondary);
}

.top-nav-menu-links,
.top-nav-right {
    display: none;
}


@media screen and (min-width: 900px) {

    .top-nav-menu-links,
    .top-nav-right {
        display: flex;
        text-transform: uppercase;
        font-size: var(--font-sm);
        gap: var(--spacing-md)
    }

}