.shop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.shop-container h1 {
    text-align: center;
    padding: var(--spacing-md);
}


.products {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
    padding: var(--spacing-xl);
    margin: 0 auto;
}



.product-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

}

.product-container img {
    border-radius: var(--spacing-sm);

}

.product-info {
    display: flex;
    padding: var(--spacing-sm);
    justify-content: space-between;
    font-size: var(--font-sm);
}

.product-info h6 {
    font-size: var(--font-sm)
}

@media (min-width: 600px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}